body {
  background-color: #ffec3d;
}
#main {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main #round {
  /* display: none; */
  font-size: 30px;
}
#main #game {
  width: 70%;
  margin: 50px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main #game #robot,
#myself {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #game .gesture {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#main #game .gesture .prepare {
  font-size: 36px;
}
#main #game .gesture img {
  width: 90px;
  height: 90px;
  transform: rotate(45deg);
}
#main #game .name {
  margin-bottom: 10px;
}
/* #main #result {
    display: none;
} */
#main #start {
  margin-top: 50px;
}
#main #start button {
  height: 32px;
  padding: 4px 15px;
  color: #fff;
  background-color: #222;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
#main #select-dialog {
  border-radius: 8px;
  padding: 16px;
  width: 300px;
}
#main #select-dialog::backdrop {
    background-color: rgba(0, 0, 0, .45);
}
#main #select-dialog #select-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main #select-dialog #select-form .row .select-gesture {
  padding: 4px 12px;
  border-radius: 4px;
}
#main #select-dialog #select-form button{
  margin-top: 10px;
  padding: 4px 12px;
  color: #fff;
  background-color: #1677ff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
#main #final{
  margin-top: 50px;
  font-size: 24px;
  font-weight: 800;
}